<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisualizeDS"
        tools:targetApi="31">
        <activity
            android:name=".data_structure_algorithms.path_finding.dfs.DFSActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.path_finding.bfs.BFSActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.basics.deletion.BSTDeletionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.traversal.infix.BSTInorderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.traversal.postfix.BSTPostorderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.traversal.preorder.BSTPreorderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.basics.insertion.BSTInsertionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.stack.basics.PushPopActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.queue.basics.PushPopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VisualizerActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.sorting.BubbleSortActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.searching.BinarySearchActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.searching.LinearSearchActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.doubly_linked_list.basics.TraversalActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.doubly_linked_list.basics.InsertionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.doubly_linked_list.basics.DeletionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.linked_list.basics.DeletionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.linked_list.basics.TraversalActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.linked_list.basics.InsertionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.sorting.InsertionSortActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.sorting.SelectionSortActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureTheoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureTopicActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureAlgorithmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureActivity"
            android:exported="false" />
    </application>

</manifest>