<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_r"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisualizeDS"
        tools:targetApi="31">
        <activity
            android:name=".activity.MyProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.PreviousVisualizationsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.BIT.basics.BITBasicsActivity.BITBasicsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.path_finding.basics.dfs.PFDFSActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.path_finding.basics.bfs.PFBFSActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.basics.deletion.BSTDeletionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.traversal.level_order.BSTLevelOrderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.traversal.inorder.BSTInorderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.traversal.postorder.BSTPostorderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.traversal.preorder.BSTPreorderActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_structure_algorithms.binary_search_tree.basics.insertion.BSTInsertionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.stack.basics.push_pop.StackPushPopActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.queue.basics.push_pop.QueuePushPopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VisualizerActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.sorting.bubble_sort.ArrayBubbleSortActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.searching.binary_search.ArrayBinarySearchActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.searching.linear_search.ArrayLinearSearchActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.doubly_linked_list.basics.traversal.DLLTraversalActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.doubly_linked_list.basics.insertion.DLLInsertionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.doubly_linked_list.basics.deletion.DLLDeletionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.linked_list.basics.deletion.LLDeletionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.linked_list.basics.traversal.LLTraversalActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.linked_list.basics.insertion.LLInsertionActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.sorting.insertion_sort.ArrayInsertionSortActivity"
            android:exported="false" />
        <activity
            android:name=".data_structure_algorithms.array.sorting.selection_sort.ArraySelectionSortActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureTheoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureTopicActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureAlgorithmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DataStructureActivity"
            android:exported="false" />
    </application>

</manifest>